<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="sheet-flex-container">
        <div class="sheet-sidebar">
            <div class="header-container">
                <!-- <img id="sheet-logo" src="systems/afmbe/images/afmbe_logo.png"> -->
                <div class="polaroid-container">
                    <img class="polaroid" src="systems/afmbe/images/polaroid.png">
                    <img class="profile-img" data-edit="img" src="{{actor.img}}">

                    <div class="sheet-nav-container" hidden>
                        <details>
                            <summary><i class="fas fa-list-dropdown"></i></summary>
                            <nav class="sheet-nav sheet-tabs tabs" data-group="primary">
                                <a class="item" data-tab="core">{{ localize "AFMBE.Core" }}</a>
                                <a class="item" data-tab="equipment">{{ localize "AFMBE.Equipment" }}</a>
                            </nav>
                        </details>
                    </div>

                    <div class="profile-tags-container">
                        <div class="tags-flex-container"></div>
                    </div>
                </div>
                <div class="header-info-container">
                    <div class="info-container">
                        <h1>
                            <input class="charname" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'Name' }}">
                        </h1>
                        <div class="attribute-container blur">
                            <h2 id="attributes-header">
                                <div>{{ localize "AFMBE.Primary Attributes" }}</div>
                            </h2>
                            <div class="resource-container">
                                <div class="resource">
                                    <button class="attribute-roll" type="button" data-attribute-name="Strength">Strength</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.strength.value" value="{{actor.system.strength.value}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button class="attribute-roll" type="button" data-attribute-name="Dexterity">Dexterity</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.dexterity.value" value="{{actor.system.dexterity.value}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button class="attribute-roll" type="button" data-attribute-name="Constitution">Constitution</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.constitution.value" value="{{actor.system.constitution.value}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button class="attribute-roll" type="button" data-attribute-name="Intelligence">Intelligence</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.intelligence.value" value="{{actor.system.intelligence.value}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button class="attribute-roll" type="button" data-attribute-name="Perception">Perception</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.perception.value" value="{{actor.system.perception.value}}">
                                    </div>
                                </div>
                                <div class="resource">
                                    <button class="attribute-roll" type="button" data-attribute-name="Willpower">Willpower</button>
                                    <div class="resource-values attribute">
                                        <input type="number" name="system.willpower.value" value="{{actor.system.willpower.value}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="attribute-container blur">
                            <h2>{{ localize "AFMBE.Secondary Attributes" }}</h2>
                            <div class="resource-container">
                                <div class="resource">
                                    <button class="reset-resource" data-resource="hp">Life Points</button>
                                    <div class="resource-values secondaryAttribute">
                                        <input type="number" name="system.hp.value" value="{{actor.system.hp.value}}">
                                        / 
                                        <div>{{actor.system.hp.max}}</div>
                                    </div>
                                </div>
                                <div class="resource">
                                    <button class="reset-resource" data-resource="endurance_points">Endurance</button>
                                    <div class="resource-values secondaryAttribute">
                                        <input type="number" name="system.endurance_points.value" value="{{actor.system.endurance_points.value}}">
                                        / 
                                        <div>{{actor.system.endurance_points.max}}</div>
                                    </div>
                                </div>
                                <div class="resource">
                                    <button>{{ localize "AFMBE.Speed" }}</button>
                                    <div class="resource-values secondaryAttribute">
                                        <div>{{actor.system.speed.value}}mph</div>
                                        <div>[{{actor.system.speed.halfValue}}m/sec]</div>
                                    </div>
                                </div>
                                <div class="resource">
                                    <button class="reset-resource" data-resource="essence">{{ localize "AFMBE.Essence Pool" }}</button>
                                    <div class="resource-values secondaryAttribute">
                                        <input type="number" name="system.essence.value" value="{{actor.system.essence.value}}">
                                        / 
                                        <div>{{actor.system.essence.max}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="sheet-body">

            {{!-- Core Tab --}}
            <div class="tab core" data-group="primary" data-tab="core">
                <div class="bio-container">
                    <h2>{{ localize "AFMBE.Description" }}</h2>
                    {{editor descriptionHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
                </div>
                <div class="skill-item-container blur">
                    <div class="skills-container">
                        <h2 id="skill-header" class="header-with-button">
                            <button type="button" class="create-item" data-create="skill">+</button> 
                            <span>{{ localize "AFMBE.Skills" }}</span>
                        </h2>
                        <table class="item-table">
                            <thead>
                                <tr>
                                    <th class="table-left-align">{{ localize "AFMBE.Name" }}</th>
                                    <th>{{ localize "AFMBE.Level" }}</th>
                                    <th><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each actor.skill as |item id|}}
                                    <tr class="item" data-item-id="{{item._id}}">
                                        <td class="item-name">{{item.name}}</td>
                                        <td class="table-center-align">{{item.system.level}}</td>
                                        <td class="table-center-align"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="powers-container">
                        <h2 id="aspect-header" class="header-with-button">
                            <button type="button" class="create-item" data-create="aspect">+</button> 
                            <span>{{ localize "AFMBE.Aspects" }}</span>
                        </h2>
                        <table class="item-table">
                            <thead>
                                <tr>
                                    <th class="table-left-align">{{ localize "AFMBE.Name" }}</th>
                                    <th>{{ localize "AFMBE.Power" }}</th>
                                    <th><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each actor.aspect as |item id|}}
                                    <tr class="item" data-item-id="{{item._id}}">
                                        <td class="item-name">{{item.name}}</td>
                                        <td class="table-center-align">{{item.system.power}}</td>
                                        <td class="table-center-align"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {{!-- Equipment Tab --}}
            <div class="tab equipment" data-group="primary" data-tab="equipment">
                <div class="equipment-header">
                    <div class="encumbrance-resource">
                        <h2>{{ localize "AFMBE.Lifting Capacity" }}</h2>
                        <div>{{actor.system.encumbrance.lifting_capacity}} lbs</div>
                    </div>
                    <div class="encumbrance-resource">
                        <h2>{{ localize "AFMBE.Current Weight" }}</h2>
                        <div>{{actor.system.encumbrance.value}} lbs</div>
                    </div>
                    <div class="encumbrance-resource">
                        <h2>{{ localize "AFMBE.Max Carry Limit" }}</h2>
                        <div>{{actor.system.encumbrance.max}} lbs</div>
                    </div>
                </div>

                <div class="weapon-table">
                    <h2 class="header-with-button">
                        <button type="button" class="create-item" data-create="weapon">+</button> 
                        <span>{{ localize "AFMBE.Weapons" }}</span>
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th class="table-left-align">{{ localize "AFMBE.Name" }}</th>
                                <th>{{ localize "AFMBE.Damage" }}</th>
                                <th>{{ localize "AFMBE.Capacity" }}</th>
                                <th>{{ localize "AFMBE.EV" }}</th>
                                <th><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each actor.weapon as |item id|}}
                                <tr class="item" data-item-id="{{item._id}}">
                                    <td>
                                        <div class="item-name-flex-container">
                                            <i class="fas fa-dice-d20 damage-roll"></i>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                    </td>
                                    <td class="table-center-align">{{item.system.damage}}</td>
                                    <td>
                                        <div class="table-flex-cell">
                                            <div>{{item.system.capacity.value}}</div>
                                            /
                                            <div>{{item.system.capacity.max}}</div>
                                        </div>
                                    </td>
                                    <td class="table-center-align">{{item.system.encumbrance}}</td>
                                    <td class="table-center-align"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="item-table">
                    <h2 class="header-with-button">
                        <button type="button" class="create-item" data-create="item">+</button> 
                        <span>{{ localize "AFMBE.Equipped Items" }}</span>
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th class="table-left-align">{{ localize "AFMBE.Name" }}</th>
                                <th>{{ localize "AFMBE.Qty" }}</th>
                                <th>{{ localize "AFMBE.Armor Value" }}</th>
                                <th>{{ localize "AFMBE.EV" }}</th>
                                <th><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each actor.equippedItem as |item id|}}
                                <tr class="item" data-item-id="{{item._id}}">
                                    <td>
                                        <div class="item-name-flex-container">
                                            <input type="checkbox" class="toggleEquipped" {{checked item.system.equipped}}>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                    </td>
                                    <td class="table-center-align">{{item.system.qty}}</td>
                                    <td class="table-center-align armor-button-cell">
                                        <button type="button">{{item.system.armor_value}}</button>
                                    </td>
                                    <td class="table-center-align">{{item.system.encumbrance}}</td>
                                    <td class="table-center-align"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

                <div class="item-table">
                    <h2 class="header-with-button">
                        <button type="button" class="create-item" data-create="item">+</button> 
                        <span>{{ localize "AFMBE.Items" }}</span>
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th class="table-left-align">{{ localize "AFMBE.Name" }}</th>
                                <th>{{ localize "AFMBE.Qty" }}</th>
                                <th>{{ localize "AFMBE.EV" }}</th>
                                <th><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each actor.item as |item id|}}
                                <tr class="item" data-item-id="{{item._id}}">
                                    <td>
                                        <div class="item-name-flex-container">
                                            <input type="checkbox" class="toggleEquipped" {{checked item.system.equipped}}>
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                    </td>
                                    <td class="table-center-align">{{item.system.qty}}</td>
                                    <td class="table-center-align">{{item.system.encumbrance}}</td>
                                    <td class="table-center-align"><a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>
</form>
