<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <div class="item-sheet-header">
        <h1 class="item-header-container">
            <img class="item-img" src="{{item.img}}" data-edit="img">
            <input type="text" name="name" value="{{item.name}}" placeholder="{{ localize 'Name' }}">
        </h1>
    </div>

    <section>
        <div class="description-container">
            <div class="item-attribute-sidebar">
                <h2>{{ localize "AFMBE.Attributes" }}</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>{{ localize "AFMBE.Range" }}</th>
                            <td><input type="text" name="system.range" value="{{item.system.range}}"></td>
                        </tr>
                        <tr>
                            <th>{{ localize "AFMBE.Damage" }}</th>
                            <td><input type="text" name="system.damage" value="{{item.system.damage}}"></td>
                        </tr>
                        <tr>
                            <th>{{ localize "AFMBE.Damage Multiplier" }}</th>
                            <td>
                                <select id="damage_cha_multiplier" name="system.damage_cha_multiplier">
                                    {{#select item.system.damage_cha_multiplier}}
                                            <option value="none">{{ localize "AFMBE.None" }}</option>
                                        {{#each item.system.damage_characteristics as |damage_characteristic value|}}
                                            <option value="{{value}}">{{ localize (concat 'AFMBE.' damage_characteristic) }}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ localize "AFMBE.Damage Type" }}</th>
                            <td>
                                <select id="damageTypeSelect" name="system.damage_type" data-type="String">
                                    {{#select item.system.damage_type}}
                                        {{#each item.system.damage_types as |damage_types key|}}
                                            <option value="{{key}}">{{ localize (concat 'AFMBE.' damage_types) }}</option>
                                        {{/each}}
                                    {{/select}}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ localize "AFMBE.Ammo Type" }}</th>
                            <td><input type="text" name="system.ammo_type" value="{{item.system.ammo_type}}"></td>
                        </tr>
                        <tr>
                            <th>{{ localize "AFMBE.Capacity" }}</th>
                            <td>
                                <div class="item-name-flex-container">
                                    <input type="number" name="system.capacity.value" value="{{item.system.capacity.value}}">
                                    <input type="number" name="system.capacity.max" value="{{item.system.capacity.max}}">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ localize "AFMBE.EV" }}</th>
                            <td><input type="number" name="system.encumbrance" value="{{item.system.encumbrance}}"></td>
                        </tr>
                        <tr>
                            <th>{{ localize "AFMBE.Cost" }}</th>
                            <td><input type="number" name="system.cost" value="{{item.system.cost}}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="item-description-sidebar">
                <h2 class="item-desc">{{ localize "AFMBE.Description" }}</h2>
                {{editor descriptionHTML target="system.description" button=true editable=editable engine="prosemirror"}}

            </div>
        </div>
    </section>
</form>
